# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NetBeansProjects\WVSU_Parking_Research\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
